.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: sans-serif;
}

.app__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .app__form {
    width: 100%;
  }
}

.form {
  max-width: 450px;
}

.input-form {
  width: 200px;
  height: 40px;
  margin-right: 20px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .input-form {
    margin: 0 5%;
    width: 50%;
    box-sizing: border-box;
  }
}

.select-form{
  height: 40px;
  width: 100px;
  margin-right: 20px;
  border: 1px lightgray solid;
}

@media only screen and (max-width: 600px) {
  .select-form {
    margin-right: 5%;
    width: 35%;
    box-sizing: border-box;
  }
}

.btn-form {
  width: 100px;
  height: 40px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .btn-form {
      width: 90%;
      margin: 20px 5% 0;
  }
}

.app__transactions {
  padding-bottom: 10px;
}

.app__title {
  text-align: center;
  font-size: 25px;
}